:root {
	--background-color: #222;
	--text-color: #fafafa;
	--card-background-color: #000;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	font-size: 100%;
	font-family: 'Inter', sans-serif;
	margin: 0;
}


/* SITE HEADER */
#site-header {
	padding: 60px 16px 40px 16px;
	text-align: center;
}

#site-header h1 {
	font-family: 'Libre Barcode 39 Text', cursive;
	font-size: 48px;
	margin: 0;
}


/* CARD */
.card {
	background-color: var(--card-background-color);
	box-sizing: border-box;
	margin-bottom: 12px;
	width: 100%;
}

.card img {
	height: auto;
	width: 100%;
}

.card header {
	padding: 8px 16px 16px;
	display: flex;
	flex-direction: row;
}

.card h1 {
	color: var(--text-color);
	font-size: 14px;
	font-weight: 300;
	flex: 1;
	margin: 0;
}

.card a,
.car span {
	color: var(--text-color);
	font-size: 14px;
	font-weight: 300;
	margin-left: 16px;
	text-decoration: none;
}

.card .buy-link {
	display: inline-block;
	margin: 0 16px;
	padding: 6px 16px;
	
	border: 1px solid var(--text-color);
	border-radius: 20px;
	
}