:root {
	color-scheme: light dark;
	--background-color: #eee;
	--header-text-color: #222;
	//--text-color: rgba(0,0,0,.65);
	--text-color: #222;
	--card-background-color: #fff;
	--border-color: rgba(0,0,0,.08);
	--button-background-color: #0071e3;
	--button-text-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #333;
		--header-text-color: #fafafa;
		--text-color: rgba(255,255,255,.65);
		--card-background-color: #111;
		--border-color: rgba(255,255,255,.08);
		--button-background-color: #0071e3;
		--button-text-color: #fafafa;
	}
}

body {
	background: var(--background-color);
	color: var(--text-color);
	font-size: 100%;
	font-family: -apple-system, 'Inter', sans-serif;
	margin: 0;
	user-select: none;
	padding-bottom: 48px;
}

/* SITE HEADER */
#site-header {
	//padding: 72px 16px 32px 16px;
	padding: 56px 16px 16px;
	text-align: center;
}

#site-header h1 {
	color: var(--header-text-color);
	font-family: 'Libre Barcode 39 Text', cursive;
	font-size: 48px;
	margin: 0;
}


/* CARD */
.card {
	background-color: var(--card-background-color);
	//border-bottom: 3px solid var(--border-color);
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	margin: 8px;
	border-radius: 12px;
	box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

.card img {
	display: block;
	height: auto;
	width: 100%;
}

@media (prefers-color-scheme: dark) {
	.card {
		opacity: 0.75;
	}
}

.card header {
	background-color: var(--card-background-color);
	border-top: 1px solid rgba(0,0,0,.08);
	padding: 16px 12px;
	display: flex;
	flex-direction: row;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	font-size: 16px;
}

.card h1 {
	color: var(--text-color);
	font-size: 16px;
	font-weight: 500;
	flex: 1;
	margin: 0;
}

.card .buy-button {
	color: var(--button-text-color);
	font-weight: 500;
	margin-left: 12px;
	//border: 1px solid var(--text-color);
	background-color: var(--button-background-color);
	border-radius: 30px;
	padding: 4px 14px 6px;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.card .favorite {
	position: absolute;
	top: 8px;
	right: 8px;
}

.card .favorite svg {
	stroke: #AC0000;
	height: 24px;
	width: 24px;
}

.card .recurring {
	position: absolute;
	top: 8px;
	left: 8px;
}

.card .recurring svg {
	stroke: #0045AC;
	height: 24px;
	width: 24px;
}

.card .special {
	position: absolute;
	top: 8px;
	right: 8px;
}

.card .special svg {
	stroke: #DEBB00;
	height: 24px;
	width: 24px;
}

.card .purchased {
	position: absolute;
	top: 8px;
	left: 8px;
}

.card .purchased svg {
	stroke: green;
	height: 24px;
	width: 24px;
}