:root {
	color-scheme: light dark;
	--background-color: #eee;
	--header-text-color: #222;
	//--text-color: rgba(0,0,0,.65);
	--text-color: #222;
	--card-background-color: transparent;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #111;
		--header-text-color: #fafafa;
		//--text-color: rgba(255,255,255,.65);
		--card-background-color: transparent;
	}
}

body {
	background: var(--background-color);
	color: var(--text-color);
	font-size: 100%;
	font-family: 'Inter', sans-serif;
	margin: 0;
	user-select: none;
	padding-bottom: 48px;
}

body::-webkit-scrollbar { 
	display: none;  /* Safari and Chrome */
}

/* SITE HEADER */
#site-header {
	padding: 72px 16px 32px 16px;
	text-align: center;
}

#site-header h1 {
	color: var(--header-text-color);
	font-family: 'Libre Barcode 39 Text', cursive;
	font-size: 48px;
	margin: 0;
}


/* CARD */
.card {
	background-color: var(--card-background-color);
	box-sizing: border-box;
	display: block;
	margin-bottom: 2px;
	width: 100%;
	position: relative;
	display; block;
	overflow: hidden;
}

.card img {
	height: auto;
	width: 100%;
}

@media (prefers-color-scheme: dark) {
	.card img {
		opacity: 0.75;
	}
}

.card header {
	padding: 8px;
	display: flex;
	flex-direction: row;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 1;
}

.card h1 {
	color: var(--text-color);
	font-size: 14px;
	font-weight: 300;
	flex: 1;
	margin: 0;
}

.card .price {
	color: var(--text-color);
	font-size: 14px;
	font-weight: 300;
	margin-left: 16px;
	text-decoration: none;
}

.card .favorite {
	position: absolute;
	top: 8px;
	right: 8px;
}

.card .favorite svg {
	stroke: #AC0000;
	height: 24px;
	width: 24px;
}

.card .recurring {
	position: absolute;
	top: 8px;
	left: 8px;
}

.card .recurring svg {
	stroke: #0045AC;
	height: 24px;
	width: 24px;
}